
#navb {
	font-size:14pt;
	text-decoration: none;
	background-color:#336699;
	color:white;
}

#nava {
	font-size:14pt;
	text-decoration: none;
	background-color:white;
	color:#336699;
}


#navb:hover{
		background-color:#00BBBB;
		opacity: 0.90;
		filter:alpha(opacity=90);
		letter-spacing: 1px;
}

#nava:hover{
		background-color:#00BBBB;
		color:white;
		opacity: 0.90;
		filter:alpha(opacity=90);
		letter-spacing: 0.5px;
}

#tright {
	font-size:18pt;
	text-decoration: none;
	color:#022993;
}

#tright:hover{
	color:#800080;
}

#tleft{
	align:left;
	background-color:#A75F86;
	font-size:19pt;
	color:white;
	opacity: 0.90;
	filter:alpha(opacity=90);
}