

a:link {text-decoration:underline;}

#page-background {position:fixed; top:0; left:0; width:100%; height:100%; z-index:-5}

#vm {position:fixed; top:0; left:60%; height:8%; width:15%; z-index:-3; opacity:.92;}
#pm {position:fixed; top:0; left:0; height:28%; width:13%; z-index:-2}
#pa {position:fixed; top:0; left:2.3%; height:20%; width:16.5%; z-index:-1;}
#imgelem {width:100%; height:100%; border:none;}
#imgelemSP {width:100%; height:100%; opacity:.9; border:none;}

#polio {position:fixed; overflow:auto; width:15%; height:25%; top:22%; left:23.5%; z-index:0; color:white;}
#row {width:100%; height:20%}
#l {width:25%; float:left; height:90%; padding-left:15%;}
#r {width:25%; float:right; height:90%; padding-right:15%;}
#imgpolio {width:100%; height:100%; border: 4px solid white}

#header {position:fixed; overflow:auto; top:9%; left:52.5%; width:25%; height:13%; z-index:0; color: white; align:left; font-size:50%;letter-spacing: 2pt;}
#footer {position:fixed; overflow:auto; top:90%; left:22.5%; width:55%; height:10%; z-index:0; color: white; align:left; font-size:50%; letter-spacing: 2pt; opacity:.6;}

#imgpolio:hover {opacity:.8;}
#imgelem:hover {opacity:.8;}
#imgelemSP:hover {opacity:1;}

#block {position:fixed;width:34%;height:20%;top:49%;left:41%;background-color:#fefefe;padding:10px;letter-spacing: 1pt;z-index:1;}
#clmnl {float:left;width:20%;overflow:auto;padding:2px;font-size:40%;}
#clmnr {float:right;width:30%;overflow:auto;padding:2px;padding-right:10px;padding-left:30px;font-size:40%;}
#clmnr p {margin-top:0; margin-bottom:0;}
#clmnpic {width:10%;height:90%;float:left;padding-left:5px;padding-right:5px}
#star {height:100%;width:100%;float:left;z-index:2;overflow:auto;}

#caps {font-size:150%;}
#elem:hover {opacity:.8;}
#clmnpic:hover {opacity:.8;}

#maincont {position:fixed;width:35%;height:50%;top:22.5%;left:41%;background-color:white;}
#fworkcont {height:20%;border-bottom: 1px solid black;overflow:auto;}
#rnewsban {position:fixed;top:20.8%;left:41%;height:20%;width:10.5%;z-index:5;}